.big-banner{
    /* background-image: url(https://i.ytimg.com/vi/TCYTVu9m9is/maxresdefault.jpg); */
    width: 600px;
    height: 580px;
    font-size: 13px;
    color: black;
    background-color: blanchedalmond;
}
.jumbotron{ 
    width: 580px;
    height: 200px;
    display: flex;
    padding-top: 30px;
}
.contain{
    background-image: url(https://i.ytimg.com/vi/TCYTVu9m9is/maxresdefault.jpg);
}
.body{
    margin-left: 200px;
}