.big-banner{
    background-color: turquoise;
    /* background-image:url(http://www.africaimagelibrary.com/-/galleries/west-africa/ghana/-/medias/6a712f0a-a1ce-11e2-956e-f3f957108180-beaded-jewelry-for-sale-at-cedi-s-bead-factory-ghana) ; */
    width: 650px;
    height: 650px;
}
